$font-xxl: 20px;
$font-xl: 18px;
$font-lg: 16px;
$font-base: 14px;
$font-sm: 12px;
$font-xs: 10px;


$transp-white: rgba(255, 255, 255, 0.6);
$transp-black: rgba(0, 0, 0, 0.7);
$transp-grey: rgba(0, 0, 0, 0.3);
